.comment-form
  = form_for([@post, @post.comments.build], remote: true) do |f|
    = f.text_field :content, placeholder: 'Add a comment...', class: "comment_content", id: "comment_content_#{@post.id}"
    =f.submit